::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #C0C0C0; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #B0B0B0; 
}